@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&display=swap');

@import url('https://fonts.maateen.me/bangla/font.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    max-width: 1200px;
    margin: auto;
}

nav {
    background-color: #0e525f;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navigationbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo a {
    text-decoration: none;
    font-size: 40px;
}

.logo a img {
    width: 120px;
}

.menusa {
    display: flex;
    gap: 30px;
}

.menusa li {
    list-style: none;
    font-size: 18px;
}

.herotitile {
    text-align: center;
    margin: 40px 0px;
    font-family: "Noto Sans Bengali", sans-serif;
    font-size: 50px;
}

.menusa li a {
    text-decoration: none;
    font-family: "Noto Sans Bengali", sans-serif;
    color: #fff;
    transition: all .5s;

}

.menusa li a:hover {
    color: #000000;
}

.menusa li a i {
    margin-right: 10px;
}

.hero {
    padding: 70px 0px;
    background-color: #FFFF8F;
}

.herowrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
    text-align: center;
    font-family: "Noto Sans Bengali", sans-serif;
    font-size: 20px;
    width: 80%;
    margin: 0px auto;

}

.heroimg img {
    width: 100%;
    filter: drop-shadow(5px 5px 10px #000000);
}

.herowrapper p span {
    font-size: 40px;
}

.herodiscrip p {
    margin: 20px 0px;
}



.Cardsection {
    background-color: #e1f1fd;
    padding: 80px 0px;
}

.cradwraper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    padding: 10px 80px 20px 80px;
}

.titiletext {
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Bangla', sans-serif;
    font-size: 35px;
}

.card {
    text-align: center;
    padding: 15px;
    background-color: #fff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card img {
    width: 70%;
    padding: 10px;
}

.cardcolor {
    background-color: orange;
}


.card p {
    margin: 10px 0px;
    font-size: 18px;
    font-family: "Noto Sans Bengali", sans-serif;
}


.lateorder {
    background-color: #FFB600;
}

.lateorderimg img {
    width: 100%;
    filter: drop-shadow(5px 5px 10px #000000);
}

.ordernowrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    place-items: center;
    width: 80%;
    margin: 0px auto;
}

.lateordertitile h1 {
    font-family: 'Bangla', sans-serif;
    font-size: 46px;
    text-align: center;
}

.lateordertitile {
    display: grid;
}

.ordernow {
    font-family: "Noto Sans Bengali", sans-serif;
    font-size: 18px;
    padding: 9px 18px;
    background-color: #fe0f0f69;
    border: transparent;
    border-radius: 5px;
    color: #fff;
    margin: 24px auto;
    width: fit-content;
    cursor: pointer;
}

.whybuysec {
    background-image: linear-gradient(180deg, #FFE53B 14%, #ff7f25 68%, #8b8522 100%);
    padding: 40px 0px;
}

.whyYoulist li {
    list-style: none;
    line-height: 2.3;
    font-size: 14px;
    font-family: "Noto Sans Bengali", sans-serif;
}

.whyYoulist li i {
    margin-right: 15px;
    color: black;
}

.whybuy h1 {
    font-family: 'Bangla', sans-serif;
    font-size: 46px;
    margin-bottom: 20px;

}


.orderform {
    padding: 100px 0px;
}

.tititleform {
    text-align: center;
    display: grid;
    place-items: center;
}

.tititleform img {
    width: 80px;
    margin: 30px 0px;
}

.tititleform h1 {
    font-family: "Noto Sans Bengali", sans-serif;
    font-size: 40px;
}


.fromdiv {
    width: 50%;
    margin: 0px auto;
}

form h1 {
    margin-bottom: 20px;
    font-family: "Noto Sans Bengali", sans-serif;

}

form input {
    display: block;
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 10px;
    font-family: "Noto Sans Bengali", sans-serif;
    font-size: 15px;
}

form textarea {
    width: 100%;
    resize: vertical;
    display: block;
    font-family: "Noto Sans Bengali", sans-serif;
    font-size: 15px;
    padding: 10px 10px;
    height: 140px;
}

.formbtn {
    padding: 10px 20px;
    background-color: rgb(130, 160, 47);
    border: 1px solid transparent;
    margin-top: 10px;
    font-family: "Noto Sans Bengali", sans-serif;
    font-size: 15px;
    transition: all .4s;
    border-radius: 5px;
}

.formbtn:hover {
    background: none;
    border: 1px solid green;
    cursor: pointer;
}

footer {
    background-color: #0e525f;
    padding: 40px 0px;
}

.upfootprent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 70%;
    place-items: center;
    justify-items: center;
    margin: 0px auto;
}

.aboutus h1 {
    font-family: 'Bangla', sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
    color: #fff;
}

.aboutus p {
    margin-bottom: 24px;
    font-family: 'Bangla', sans-serif;
    font-size: 20px;
    color: #fff;
}

.importantlink h1 {
    font-family: 'Bangla', sans-serif;
    font-size: 40px;
    margin-bottom: 24px;
    color: #fff;
}

.links li {
    line-height: 2;
    font-family: "Noto Sans Bengali", sans-serif;
}

.links li a {
    text-decoration: none;
    color: #fff;
    list-style: none;
}

.downfootprent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    place-items: center;
    border-top: 2px solid rgb(255, 255, 255);
    color: #fff;
    font-family: "Noto Sans Bengali", sans-serif;

}

.upfoot {
    padding: 40px 0px;
}

.logoside a img {
    width: 60%;
}

.links li {
    list-style: none;
}

.helpspepoule p a {
    color: #fff;
    text-decoration: none;
}

.helpspepoule p a:hover {
    text-decoration: underline;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .container {
        padding: 0px 40px;
    }

    .herotitile {
        margin-top: 80px;
        font-size: 40px;
    }

    .menulist {
        display: none;
    }

    .whybuy h1 {
        font-size: 30px;
        text-align: center;
    }

    .navigationbar {
        justify-content: center;
    }

    .menusa li {
        font-size: 12px;

    }

    .downfootprent {
        grid-template-columns: 1fr;
        place-items: center;
        gap: 10px;
    }

    .logoside a img {
        margin: 0px auto;
        padding: 40px 40px 0px 40px;
        width: 258px;
    }


}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

    .container {
        padding: 0px 40px;
    }

    .herotitile {
        font-size: 45px;
    }

    .herowrapper {
        grid-template-columns: 1fr;
    }

    .cradwraper {
        gap: 25px;
        padding: 0px 20px;
    }

    .fromdiv {
        width: 80%;
    }

    .upfootprent {
        justify-items: left;
    }

    .importantlink {
        margin-top: 20px;
    }

    .upfootprent {
        width: 85%;

    }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .fromdiv {
        width: 80%;
    }



}